body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.header_pitchManage {
    padding: 20px 0;
    background-color: #343a40;
    color: white;
    text-align: center;
    border-bottom: 4px solid #4CAF50;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}


h1 {
    margin: 0;
    padding-bottom: 20px;
}

.menu2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343a40;
    margin-top: 10px;
    /* Khoảng cách giữa header_content và menu */
}

.menu2 ul li input {
    position: absolute;
    margin-top: -80px;

}

.butthem,
.butsua {
    display: inline-block;
    font-size: 13px;
    padding: 5px 10px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Phong cách nút Thêm */
.butthem {
    background-color: #28a745;
    color: white;
}

.butthem:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.butsua {
    background-color: #007bff;
    color: white;
}

.butsua:hover {
    background-color: #0056b3;
    /* Đậm hơn khi hover */
    transform: scale(1.05);
    /* Tăng kích thước khi hover */
}

.menu2 ul li a img {
    position: absolute;
    margin-left: 160px;
    margin-top: -80px;
}

.menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    /* Căn giữa các mục menu theo chiều ngang */
    padding-right: 200px;
}

.menu2 ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu2 ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;

}

.menu2 ul li a:hover {
    text-decoration: underline;
}

#Adminpic {
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}

.body_pitchManage {
    width: 100%;
    height: 1100px;
    background-image: url("./img/Bodyimg.jpg");
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

thead th {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.iconeye,
.icontrash {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button[type='submit'] {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button[type='submit']:hover img {
    opacity: 0.7;
}

form {
    display: inline;
}

td form button {
    margin: 0;
}

/* Modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* CSS để làm đẹp label và input trong form */
.modal-content label {
    display: inline-block;
    width: 150px;
    /* Độ rộng của label */
    font-weight: bold;
    /* Chữ in đậm */
    margin-bottom: 10px;
    /* Khoảng cách dưới của mỗi label */
}

.modal-content input[type=text],
.modal-content input[type=time] {
    width: calc(100% - 160px);
    /* Độ rộng của input, tính toán để bớt đi độ rộng của label và margin */
    padding: 8px;
    /* Khoảng cách trong input */
    border: 1px solid #ccc;
    /* Viền input */
    border-radius: 4px;
    /* Bo góc input */
    box-sizing: border-box;
    /* Đảm bảo độ rộng và padding tính cả viền */
    margin-bottom: 10px;
    /* Khoảng cách dưới của mỗi input */
}

#pitchForm2 select {
    width: 64%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content input[type=submit] {
    background-color: #4CAF50;
    /* Màu nút Submit */
    color: white;
    /* Màu chữ nút Submit */
    padding: 10px 20px;
    /* Kích thước của nút Submit */
    border: none;
    /* Không có viền nút Submit */
    border-radius: 4px;
    /* Bo góc nút Submit */
    cursor: pointer;
    /* Con trỏ chuột thành dấu nhấp chuột */
    margin-right: 10px;
    /* Khoảng cách phải giữa các nút */
}

.modal-content input[type=submit]:hover {
    background-color: #45a049;
    /* Màu nền khi rê chuột vào nút Submit */
}


.modal2 {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* CSS để làm đẹp label và input trong form */
.modal-content2 label {
    display: inline-block;
    width: 150px;
    /* Độ rộng của label */
    font-weight: bold;
    /* Chữ in đậm */
    margin-bottom: 10px;
    /* Khoảng cách dưới của mỗi label */
}

.modal-content2 input[type=text],
.modal-content input[type=time] {
    width: calc(100% - 160px);
    /* Độ rộng của input, tính toán để bớt đi độ rộng của label và margin */
    padding: 8px;
    /* Khoảng cách trong input */
    border: 1px solid #ccc;
    /* Viền input */
    border-radius: 4px;
    /* Bo góc input */
    box-sizing: border-box;
    /* Đảm bảo độ rộng và padding tính cả viền */
    margin-bottom: 10px;
    /* Khoảng cách dưới của mỗi input */
}

.modal-content2 input[type=submit] {
    background-color: #4CAF50;
    /* Màu nút Submit */
    color: white;
    /* Màu chữ nút Submit */
    padding: 10px 20px;
    /* Kích thước của nút Submit */
    border: none;
    /* Không có viền nút Submit */
    border-radius: 4px;
    /* Bo góc nút Submit */
    cursor: pointer;
    /* Con trỏ chuột thành dấu nhấp chuột */
    margin-right: 10px;
    /* Khoảng cách phải giữa các nút */
}

.modal-content2 input[type=submit]:hover {
    background-color: #45a049;
    /* Màu nền khi rê chuột vào nút Submit */
}

.modal3 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content3 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Adjust width as necessary */
    text-align: center;
}

.modal-content3 img {
    max-width: 100%;
    height: auto;
}

/* Show modal */
.modal3.show {
    display: block;
}

/* CSS cho gallery hình ảnh */
.img-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.img-gallery__item {
    overflow: hidden;
}

.img-gallery__item img {
    width: 100%;
    height: 150px;
}